@import url("../../App.css");

.card {
  width: 90vw;
  max-width: 505px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 25px;
}

.objet {
  font-size: 24px;

  color: var(--black);
  line-height: 25px;
  text-transform: none;
  margin-bottom: 12px;
}

.contenu {
  font-size: 13px;
  line-height: 18px;
  color: var(--grey);
  margin-bottom: 12px;
}
.marginBtn {
  margin-bottom: 9px;
  padding: 6px 9px;
}

@media (min-width: 500px) and (max-width: 992px) {
  .card {
    margin-bottom: 20px;
    max-width: 225px;
  }
}

@media screen and (min-width: 992px) {
  .card {
    margin-bottom: 20px;
    max-width: 275px;
  }
}
